body {
    font-family: 'NS Sans', 'Frutiger 45 Light', 'Segoe UI', sans-serif;
    border: 0;
    padding: 0;
    background: black;
}

li {
    list-style: none;
    padding: 1em;
    margin: 1em;
    background: #1ed760;
    color: black;
    border-radius: 2em;
    max-width: 20em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}