body {
    font-family: 'Open Sans Light', sans-serif;
    border: 0;
    padding: 0;
    background: #111629;
/*
    background: url(images/back.jpg);
    background-repeat: repeat;
    background-size: contain;
*/
}

h1 {
    font-family: "Avenir Next";
    font-size: 5em;
    text-align: center;
    color: white;
}

li {
    list-style: none;
    padding-left: 2em;
    padding: 1em;
    margin: 1em;
    background: rgba(100, 100, 100, 0.1);
    color: white;
    border-radius: 1em;
    max-width: 30em;
    border: rgba(, 22, 41, 0.5);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

li:hover {
    border: 1px white solid;
}

.over {
    margin-top: 3em;
/*    animation: test 0.5s linear 0s;*/
}

/*
@keyframes test {
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}*/
